<div class="container">
<div class="form-group">
<form action="/answer" data-turbo="false" method="get">
<label for="question">Ask your coach anything:</label><br>
  <input class="myinput" type="text" name="question">
  <button type="submit" class="btn btn-primary mb-2">Ask!</button>
</form>

</div>
</div>
